<html>
<head>
	<title>Index</title>
			<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
			<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
			<script type="text/javascript" src="js/jquery.min.js"></script>
			<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>

<div container >
<img src="" alt="//placehold.it/300x300" class="img-responsive">
<hr>
<div class="label">
	<p>
		AAAAAAAAAAAAAAAAA
	</p>


</div>

</div>

</body>

</html>